{% extends 'base.html' %}
{% load static %}
{% block title %} | HOME{% endblock %}
{% block content %}
        <!-- SECTION REVOLUTION SLIDER -->
        <div id="slider">
            <div id="rev_slider_22_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="restaurant" style="background-color:transparent;padding:0px;">
                <!-- START REVOLUTION SLIDER 5.1 fullscreen mode -->
                <div id="rev_slider_22_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.1">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-index="rs-99" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="{% static 'homepages/restaurant/slider/main-13-100x50.jpg' %}" data-rotate="0" data-saveperformance="off" data-title="Home" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="{% static 'homepages/restaurant/slider/dummy.png' %}" alt="" width="1900" height="1267" data-lazyload="{% static 'homepages/restaurant/slider/main-13.jpg' %}" data-bgposition="center center" data-kenburns="on" data-duration="20000" data-ease="Power1.easeOut" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption   tp-resizeme" id="slide-99-layer-7" data-x="['center','center','center','center']" data-hoffset="['0','0','0','2']" data-y="['middle','middle','middle','middle']" data-voffset="['-61','-61','-61','-129']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="opacity:0;s:190;s:190;" data-mask_in="x:0px;y:0px;" data-start="690" data-responsive_offset="on" style="z-index: 5;"><img src="{% static 'homepages/restaurant/slider/dummy.png' %}" alt="" width="495" height="319" data-ww="['500px','500px','500px','402.36686390532543']" data-hh="['338px','338px','338px','272']" data-lazyload="{% static 'homepages/restaurant/slider/restaurant-logo-2.png' %}" data-no-retina>
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption Restaurant-Cursive   tp-resizeme" id="slide-99-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','3','0','1']" data-y="['bottom','bottom','bottom','bottom']" data-voffset="['236','213','299','249']" data-fontsize="['30','30','30','22']" data-width="['574','574','574','415']" data-height="['none','none','none','81']" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1570;e:Power2.easeInOut;" data-transform_out="opacity:0;s:230;s:230;" data-mask_in="x:0px;y:[100%];" data-start="810" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: 574px; max-width: 574px; white-space: normal; line-height: 40px;text-align:center;">Most delicious food in the world
                            </div>
                        </li>
                        <!-- SLIDE  -->
                        <li data-index="rs-102" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="{% static 'homepages/restaurant/slider/restaurant-100x50.jpg' %}" data-rotate="0" data-saveperformance="off" data-title="Slide" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="{% static 'homepages/restaurant/slider/dummy.png' %}" alt="" width="1561" height="860" data-lazyload="{% static 'homepages/restaurant/slider/restaurant.jpg' %}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->

                            <!-- BACKGROUND VIDEO LAYER -->
                            <div class="rs-background-video-layer" data-forcerewind="on" data-volume="mute" data-videowidth="100%" data-videoheight="100%" data-videomp4="{% static 'homepages/restaurant/slider/restaurant.mp4' %}" data-videopreload="preload" data-videoloop="none" data-forceCover="1" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="false" data-nextslideatend="true"></div>
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption Fashion-BigDisplay   tp-resizeme" id="slide-102-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','2']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','-96','30']" data-fontsize="['100','80','70','42']" data-fontweight="['800','400','400','400']" data-width="['none','none','none','470']" data-height="['none','none','none','121']" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; font-size: 100px; font-weight: 800; color: rgba(255, 255, 255, 1.00);font-family:Roboto;">READY TO BE SERVED
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption Restaurant-Cursive   tp-resizeme" id="slide-102-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','2','0','1']" data-y="['top','top','top','top']" data-voffset="['340','305','305','297']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-mask_in="x:0px;y:0px;" data-start="500" data-splitin="chars" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05" style="z-index: 6; white-space: nowrap;">Your food is
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption Restaurant-Cursive   tp-resizeme" id="slide-102-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','3','0','0']" data-y="['top','top','top','top']" data-voffset="['503','438','438','387']" data-fontsize="['30','30','30','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-mask_in="x:0px;y:0px;" data-start="500" data-splitin="chars" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05" style="z-index: 7; white-space: nowrap;">Ultimate dining experience like no other
                            </div>
                        </li>
                    </ul>
                    <div class="tp-static-layers">
                    </div>
                    <div class="tp-bannertimer" style="height: 5px; background-color: rgba(183, 183, 183, 0.15);"></div>
                </div>
            </div>
            <!-- END REVOLUTION SLIDER -->

        </div>
        <!-- END SECTION REVOLUTION SLIDER -->

        <!-- ABOUT RESTAURANT -->
        <section id="section-about" class="p-t-150">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6" data-animate="fadeIn">
                        <h5 class="m-b-0">Why our</h5>
                        <h2 class="text-lg font-herr-von-muellerhoff text-colored">Delicious food</h2>
                        <p>The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis.
                            <br>
                            <br>Facilisis ut venenatis eu, sodales vel dolor. The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius.</p>

                    </div>
                    <div class="col-lg-6">
                        <div class="float-right">
                            <img class="img-fluid" src="{% static 'homepages/restaurant/images/1.png' %}" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- end: ABOUT RESTAURANT -->

        <!-- ICONS -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3" data-animate="fadeIn" data-animate-delay="300">
                        <div class="text-center">
                            <img src="{% static 'homepages/restaurant/images/icons/1.png' %}" style="margin-bottom:16px;" alt="">
                            <h4>Unique Recipets</h4>
                            <p>Lorem ipsum dolor sit amet, tetur piscing elit. Vel interdum mi sapien ut justo. Nulla varius consequat magna.</p>
                        </div>
                    </div>
                    <div class="col-lg-3" data-animate="fadeIn" data-animate-delay="500">
                        <div class="text-center">
                            <img src="{% static 'homepages/restaurant/images/icons/2.png' %}" style="margin-bottom:16px;" alt="">
                            <h4>Fresh food</h4>
                            <p>Morbi sagittis, sem quis lacinia faucibus. Vel interdum mi sapien ut justo. Nulla varius consequat magna.</p>
                        </div>
                    </div>
                    <div class="col-lg-3" data-animate="fadeIn" data-animate-delay="700">
                        <div class="text-center">
                            <img src="{% static 'homepages/restaurant/images/icons/3.png' %}" style="margin-bottom:16px;" alt="">
                            <h4>Drinks</h4>
                            <p>Nulla varius consequat magna, id molestie quis. Vel interdum mi sapien ut justo. Nulla varius consequat magna.</p>
                        </div>
                    </div>

                    <div class="col-lg-3" data-animate="fadeIn" data-animate-delay="700">
                        <div class="text-center">
                            <img src="{% static 'homepages/restaurant/images/icons/4.png' %}" style="margin-bottom:16px;" alt="">
                            <h4>Fastfood</h4>
                            <p>Nulla varius consequat magna, id molestie quis. Vel interdum mi sapien ut justo. Nulla varius consequat magna.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: ICONS -->

        <!-- MENU LIST PRICE -->
        <section id="section-menu" class="p-t-100 p-b-100 text-light" data-bg-parallax="{% static 'homepages/restaurant/images/parallax/3.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-medium m-b-40">MENU</h2>
                    </div>
                    <div class="col-lg-6" data-animate="fadeIn">


                        <ul class="price-menu-list">
                            <li>
                                <h2 class="font-nothing-you-could-do">Etiam dictum Nunc enim</h2>
                                <p>Vivamus sit amet felis</p>
                                <h3>$19.9</h3>
                            </li>
                            <li>
                                <h2 class="font-nothing-you-could-do">Etiam dictum Nunc enim</h2>
                                <p>Vivamus sit amet felis</p>
                                <h3>$19.9</h3>
                            </li>
                            <li>
                                <h2 class="font-nothing-you-could-do">Etiam dictum Nunc enim</h2>
                                <p>Vivamus sit amet felis</p>
                                <h3>$19.9</h3>
                            </li>
                            <li>
                                <h2 class="font-nothing-you-could-do">Etiam dictum Nunc enim</h2>
                                <p>Vivamus sit amet felis</p>
                                <h3>$19.9</h3>
                            </li>
                        </ul>


                    </div>
                    <div class="col-lg-6" data-animate="fadeIn">

                        <ul class="price-menu-list">
                            <li>
                                <h2 class="font-nothing-you-could-do">Etiam dictum Nunc enim</h2>
                                <p>Vivamus sit amet felis</p>
                                <h3>$19.9</h3>
                            </li>
                            <li>
                                <h2 class="font-nothing-you-could-do">Etiam dictum Nunc enim</h2>
                                <p>Vivamus sit amet felis</p>
                                <h3>$19.9</h3>
                            </li>
                            <li>
                                <h2 class="font-nothing-you-could-do">Etiam dictum Nunc enim</h2>
                                <p>Vivamus sit amet felis</p>
                                <h3>$19.9</h3>
                            </li>
                            <li>
                                <h2 class="font-nothing-you-could-do">Etiam dictum Nunc enim</h2>
                                <p>Vivamus sit amet felis</p>
                                <h3>$19.9</h3>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>
        </section>
        <!-- end: MENU LIST PRICE -->

        <!-- GALLERY -->
        <section id="section-gallery" class="p-t-150 p-b-150">
            <div class="container">
                <div class="row">
                    <div data-animate-delay="100" data-animate="fadeInUp" class="col-lg-4">
                        <h5 class="m-b-0">The food</h5>
                        <h2 class="text-lg font-herr-von-muellerhoff text-colored">Gallery</h2>
                        <p>The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis.
                        </p>
                    </div>

                    <div data-animate-delay="300" data-animate="fadeInUp" class="col-lg-8">
                        <!-- Portfolio -->
                        <div id="portfolio" class="grid-layout portfolio-3-columns" data-margin="10">

                            <!-- portfolio item -->
                            <div class="portfolio-item img-zoom ct-photography ct-marketing ct-media">
                                <div class="portfolio-item-wrap">
                                    <div class="portfolio-image">
                                        <a href="#"><img src="{% static 'homepages/restaurant/images/gallery/8.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="portfolio-description">
                                        <a title="Paper Pouch!" data-lightbox="image" href="{% static 'homepages/restaurant/images/gallery/8.jpg' %}" class="btn btn-light btn-rounded">Zoom</a>
                                    </div>
                                </div>
                            </div>
                            <!-- end: portfolio item -->


                            <!-- portfolio item -->
                            <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
                                <div class="portfolio-item-wrap">
                                    <div class="portfolio-image">
                                        <a href="#"><img src="{% static 'homepages/restaurant/images/gallery/7.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="portfolio-description">
                                        <a title="Paper Pouch!" data-lightbox="image" href="{% static 'homepages/restaurant/images/gallery/7.jpg' %}" class="btn btn-light btn-rounded">Zoom</a>
                                    </div>
                                </div>
                            </div>
                            <!-- end: portfolio item -->

                            <!-- portfolio item -->
                            <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-marketing ct-webdesign">
                                <div class="portfolio-item-wrap">
                                    <div class="portfolio-image">
                                        <a href="#"><img src="{% static 'homepages/restaurant/images/gallery/6.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="portfolio-description">
                                        <a title="Paper Pouch!" data-lightbox="image" href="{% static 'homepages/restaurant/images/gallery/6.jpg' %}" class="btn btn-light btn-rounded">Zoom</a>
                                    </div>
                                </div>
                            </div>
                            <!-- end: portfolio item -->


                            <!-- portfolio item -->
                            <div class="portfolio-item img-zoom ct-marketing ct-media ct-branding ct-marketing ct-webdesign">
                                <div class="portfolio-item-wrap">
                                    <div class="portfolio-image">
                                        <a href="#"><img src="{% static 'homepages/restaurant/images/gallery/5.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="portfolio-description">
                                        <a title="Paper Pouch!" data-lightbox="image" href="{% static 'homepages/restaurant/images/gallery/5.jpg' %}" class="btn btn-light btn-rounded">Zoom</a>
                                    </div>
                                </div>
                            </div>
                            <!-- end: portfolio item -->


                            <!-- portfolio item -->
                            <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-marketing ct-webdesign">
                                <div class="portfolio-item-wrap">
                                    <div class="portfolio-image">
                                        <a href="#"><img src="{% static 'homepages/restaurant/images/gallery/5.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="portfolio-description">
                                        <a title="Paper Pouch!" data-lightbox="image" href="{% static 'homepages/restaurant/images/gallery/5.jpg' %}" class="btn btn-light btn-rounded">Zoom</a>
                                    </div>
                                </div>
                            </div>
                            <!-- end: portfolio item -->


                            <!-- portfolio item -->
                            <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media ct-marketing ct-webdesign">
                                <div class="portfolio-item-wrap">
                                    <div class="portfolio-image">
                                        <a href="#"><img src="{% static 'homepages/restaurant/images/gallery/4.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="portfolio-description">
                                        <a title="Paper Pouch!" data-lightbox="image" href="{% static 'homepages/restaurant/images/gallery/4.jpg' %}" class="btn btn-light btn-rounded">Zoom</a>
                                    </div>
                                </div>
                            </div>
                            <!-- end: portfolio item -->


                            <!-- portfolio item -->
                            <div class="portfolio-item img-zoom ct-photography ct-marketing ct-media">
                                <div class="portfolio-item-wrap">
                                    <div class="portfolio-image">
                                        <a href="#"><img src="{% static 'homepages/restaurant/images/gallery/3.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="portfolio-description">
                                        <a title="Paper Pouch!" data-lightbox="image" href="{% static 'homepages/restaurant/images/gallery/3.jpg' %}" class="btn btn-light btn-rounded">Zoom</a>
                                    </div>
                                </div>
                            </div>
                            <!-- end: portfolio item -->

                            <!-- portfolio item -->
                            <div class="portfolio-item img-zoom ct-marketing ct-media ct-branding ct-marketing ct-webdesign">
                                <div class="portfolio-item-wrap">
                                    <div class="portfolio-image">
                                        <a href="#"><img src="{% static 'homepages/restaurant/images/gallery/2.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="portfolio-description">
                                        <a title="Paper Pouch!" data-lightbox="image" href="{% static 'homepages/restaurant/images/gallery/2.jpg' %}" class="btn btn-light btn-rounded">Zoom</a>
                                    </div>
                                </div>
                            </div>
                            <!-- end: portfolio item -->


                            <!-- portfolio item -->
                            <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-marketing ct-webdesign">
                                <div class="portfolio-item-wrap">
                                    <div class="portfolio-image">
                                        <a href="#"><img src="{% static 'homepages/restaurant/images/gallery/1.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="portfolio-description">
                                        <a title="Paper Pouch!" data-lightbox="image" href="{% static 'homepages/restaurant/images/gallery/1.jpg' %}" class="btn btn-light btn-rounded">Zoom</a>
                                    </div>
                                </div>
                            </div>
                            <!-- end: portfolio item -->


                        </div>
                        <!-- end: Portfolio -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end: GALLERY -->

        <!-- REVIEWS -->
        <section id="section-reviews" class="text-light p-t-150 p-b-100" data-bg-parallax="{% static 'homepages/restaurant/images/parallax/4.jpg' %}">
            <div class="container">
                <div class="text-center">
                    <h5 class="m-b-0">Chef Message</h5>
                    <h2 class="text-lg font-herr-von-muellerhoff text-light">We Promise</h2>
                    <h4>The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis.</h4>
                </div>
            </div>
        </section>
        <!-- end: REVIEWS -->

        <!-- PARALLAX -->
        <section id="section-blog" class="p-t-150 p-b-150" data-bg-parallax="{% static 'homepages/restaurant/images/parallax/5.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <h5 class="m-b-0">Our</h5>
                        <h2 class="text-lg font-herr-von-muellerhoff text-colored">Blog</h2>
                        <p>The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis.
                        </p>
                    </div>
                    <div class="col-lg-9">
                        <div id="blog" class="grid-layout post-2-columns m-b-30" data-item="post-item">

                            <!-- Post item-->
                            <div class="post-item border">
                                <div class="post-item-wrap">
                                    <div class="post-image">
                                        <a href="#">
                                            <img alt="" src="{% static 'homepages/restaurant/images/gallery/6.jpg' %}">
                                        </a>
                                        <span class="post-meta-category"><a href="">Lifestyle</a></span>
                                    </div>
                                    <div class="post-item-description">
                                        <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                                        <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>
                                        <h2><a href="#">Standard post with a single image
                                            </a></h2>
                                        <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>

                                        <a href="#" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

                                    </div>
                                </div>
                            </div>
                            <!-- end: Post item-->

                            <!-- Post item-->
                            <div class="post-item border">
                                <div class="post-item-wrap">
                                    <div class="post-image">
                                        <a href="#">
                                            <img alt="" src="{% static 'homepages/restaurant/images/gallery/7.jpg' %}">
                                        </a>
                                        <span class="post-meta-category"><a href="">Science</a></span>
                                    </div>
                                    <div class="post-item-description">
                                        <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                                        <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>

                                        <h2><a href="#">Standard post with a single image
                                            </a></h2>
                                        <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>

                                        <a href="#" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end: Post item-->
                    </div>
                </div>
            </div>
        </section>
        <!-- PARALLAX -->

{% endblock %}
