{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} | HOME{% endblock %}
{% block content %}

<!-- Inspiro Slider -->
<div id="slider" class="inspiro-slider slider-fullscreen">
    <!-- Slide 1 -->
    <div class="slide" data-bg-video="{% static 'video/video.mp4' %}">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="slide-captions text-left text-light">
                <!-- Captions -->
                <h2 class="text-uppercase text-lg sinmargen">El Cacho de Cabra</h2>
                <p class="text-small" >Las mejores pizzas artesanales de Maipú, estiradas a mano con ingredientes frescos y hechas en el momento que las pides.</p>
                <p class="text-small sinmargen">DELIVERY:</p>
                <p class="text-small sinmargen">Lunes a sábados 12:00 - 23:00</p>
                <p class="text-small sinmargen">Domingo 18:00 - 23:00</p>
                <p class="text-small">Exclusivo comuna de Maipú</p>
                <div>
                    <div><a href="tel:(+56) 9 7216 5666" class="btn scroll-to" id="pideya">Pide Ya!!</a></div>
                </div>
                <!-- end: Captions -->

            </div>
        </div>
    </div>
    <!-- end: Slide 1 -->
</div>
<!--end: Inspiro Slider -->

<!-- PROPERTY FEATURES -->
<section id="section-promo" class="p-t-100">
    <div class="container">
        <div class="heading-text heading-section text-center">
            <h2>Promociones</h2>
            <span class="lead">Todas nuestras pizzas son hechas con masa casera, salsa pomodoro y base de queso en la variedad que gustes.</span>
        </div>

        {% if promos %}
        <div class="row">
          {% for promo in promos %}
            <div class="col-lg-4">
                <div class="icon-box effect medium square color">
                    <div class="icon"><i class="fa {{ promo.icono }}"></i></a> </div>
                    <h3>{{ promo.nombre|title }}</h3>
                    <p>{{ promo.descripcion }}.</p>
                </div>
            </div>
          {% endfor %}

        </div>
        {% endif %}
    </div>
</section>
<!-- end: PROPERTY FEATURES -->

<!-- MENU LIST PRICE -->
<section id="section-menu" class="p-t-100 p-b-100 text-light" data-bg-parallax="{% static 'images/shaian-ramesht-exSEmuA7R7k-unsplash.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-medium m-b-40 sinmargen">MENU PIZZAS</h2>
                <h4 class="espacio">DELIVERY MAIPÚ: Lunes a sábados 12:00 - 23:00 / Domingo 18:00 - 23:00 (¡delivery a LUCA!)</h4>
                <br>
                <h3 class="sinmargen">TAMAÑOS PIZZAS</h3>
                <h4>Familiar 38cms. / Individual 20cms.</h4>
                <br>
            </div>

            <div class="col-lg-6" data-animate="fadeIn">
              {% if menuIzq %}
                <ul class="price-menu-list">
                  {% for pizzaIzq in menuIzq %}
                    <li>
                        <h2 class="font-nothing-you-could-do">{{ pizzaIzq.nombre|title }}</h2>
                        <p>{{ pizzaIzq.ingredientes }}</p>
                        <h4>Familiar ${{ pizzaIzq.precio_fam|intcomma }} / Individual ${{ pizzaIzq.precio_ind|intcomma }}</h4>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}

            </div>
            <div class="col-lg-6" data-animate="fadeIn">
              {% if menuDer %}
                <ul class="price-menu-list">
                  {% for pizzaDer in menuDer %}
                    <li>
                        <h2 class="font-nothing-you-could-do">{{ pizzaDer.nombre|title }}</h2>
                        <p>{{ pizzaDer.ingredientes }}</p>
                        <h4>Familiar ${{ pizzaDer.precio_fam|intcomma }} / Individual ${{ pizzaDer.precio_ind|intcomma }}</h4>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}

            </div>
        </div>
    </div>
</section>
<!-- end: MENU LIST PRICE -->

<!-- GALLERY -->
<section id="section-gallery" class="p-t-150 p-b-150">
    <div class="container">
        <div class="row">
            <div data-animate-delay="100" data-animate="fadeInUp" class="col-lg-4">
                <h5 class="m-b-0">Pizzas</h5>
                <h2 class="text-sm font-herr-von-muellerhoff text-colored">para todos los gustos!!!</h2>
                <p>Disfruta de una pizza artesanal, hecha con masa casera, salsa pomodoro y base de queso. Tenemos la combinación que más te gusta.</p>
                <p>Pide tu pizza</p>
                <a href="tel:(+56) 9 7216 5666"><i class="icon-phone"> </i> <i class="fab fa-whatsapp"></i> (+56) 9 7216 5666</a>
            </div>

            <div data-animate-delay="300" data-animate="fadeInUp" class="col-lg-8">
                <!-- Portfolio -->
                <div id="portfolio" class="grid-layout portfolio-3-columns" data-margin="10">

                    <!-- portfolio item -->
                    <div class="portfolio-item img-zoom ct-photography ct-marketing ct-media">
                        <div class="portfolio-item-wrap">
                            <div class="portfolio-image">
                                <a href="#"><img src="{% static 'images/foto01.jpg' %}" alt=""></a>
                            </div>
                            <div class="portfolio-description">
                                <a title="El Cacho de Cabra" data-lightbox="image" href="{% static 'images/foto01.jpg' %}" class="btn btn-light btn-rounded">Zoom</a>
                            </div>
                        </div>
                    </div>
                    <!-- end: portfolio item -->


                    <!-- portfolio item -->
                    <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
                        <div class="portfolio-item-wrap">
                            <div class="portfolio-image">
                                <a href="#"><img src="{% static 'images/foto02.jpg' %}" alt=""></a>
                            </div>
                            <div class="portfolio-description">
                                <a title="El Cacho de Cabra" data-lightbox="image" href="{% static 'images/foto02.jpg' %}" class="btn btn-light btn-rounded">Zoom</a>
                            </div>
                        </div>
                    </div>
                    <!-- end: portfolio item -->

                    <!-- portfolio item -->

                    <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-marketing ct-webdesign">
                        <div class="portfolio-item-wrap">
                            <div class="portfolio-image">
                                <a href="#"><img src="{% static 'images/foto03.jpg' %}" alt=""></a>
                            </div>
                            <div class="portfolio-description">
                                <a title="El Cacho de Cabra" data-lightbox="image" href="{% static 'images/foto03.jpg' %}" class="btn btn-light btn-rounded">Zoom</a>
                            </div>
                        </div>
                    </div>
                    <!-- end: portfolio item -->


                    <!-- portfolio item -->
                    <div class="portfolio-item img-zoom ct-marketing ct-media ct-branding ct-marketing ct-webdesign">
                        <div class="portfolio-item-wrap">
                            <div class="portfolio-image">
                                <a href="#"><img src="{% static 'images/foto04.jpg' %}" alt=""></a>
                            </div>
                            <div class="portfolio-description">
                                <a title="El Cacho de Cabra" data-lightbox="image" href="{% static 'images/foto04.jpg' %}" class="btn btn-light btn-rounded">Zoom</a>
                            </div>
                        </div>
                    </div>
                    <!-- end: portfolio item -->


                    <!-- portfolio item -->
                    <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-marketing ct-webdesign">
                        <div class="portfolio-item-wrap">
                            <div class="portfolio-image">
                                <a href="#"><img src="{% static 'images/foto05.jpg' %}" alt=""></a>
                            </div>
                            <div class="portfolio-description">
                                <a title="El Cacho de Cabra" data-lightbox="image" href="{% static 'images/foto05.jpg' %}" class="btn btn-light btn-rounded">Zoom</a>
                            </div>
                        </div>
                    </div>
                    <!-- end: portfolio item -->


                    <!-- portfolio item -->
                    <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media ct-marketing ct-webdesign">
                        <div class="portfolio-item-wrap">
                            <div class="portfolio-image">
                                <a href="#"><img src="{% static 'images/foto06.jpg' %}" alt=""></a>
                            </div>
                            <div class="portfolio-description">
                                <a title="El Cacho de Cabra" data-lightbox="image" href="{% static 'images/foto06.jpg' %}" class="btn btn-light btn-rounded">Zoom</a>
                            </div>
                        </div>
                    </div>
                    <!-- end: portfolio item -->


                    <!-- portfolio item -->
                    <div class="portfolio-item img-zoom ct-photography ct-marketing ct-media">
                        <div class="portfolio-item-wrap">
                            <div class="portfolio-image">
                                <a href="#"><img src="{% static 'images/foto07.jpg' %}" alt=""></a>
                            </div>
                            <div class="portfolio-description">
                                <a title="El Cacho de Cabra" data-lightbox="image" href="{% static 'images/foto07.jpg' %}" class="btn btn-light btn-rounded">Zoom</a>
                            </div>
                        </div>
                    </div>
                    <!-- end: portfolio item -->

                    <!-- portfolio item -->
                    <div class="portfolio-item img-zoom ct-marketing ct-media ct-branding ct-marketing ct-webdesign">
                        <div class="portfolio-item-wrap">
                            <div class="portfolio-image">
                                <a href="#"><img src="{% static 'images/foto08.jpg' %}" alt=""></a>
                            </div>
                            <div class="portfolio-description">
                                <a title="El Cacho de Cabra" data-lightbox="image" href="{% static 'images/foto08.jpg' %}" class="btn btn-light btn-rounded">Zoom</a>
                            </div>
                        </div>
                    </div>
                    <!-- end: portfolio item -->


                    <!-- portfolio item -->
                    <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-marketing ct-webdesign">
                        <div class="portfolio-item-wrap">
                            <div class="portfolio-image">
                                <a href="#"><img src="{% static 'images/foto09.jpg' %}" alt=""></a>
                            </div>
                            <div class="portfolio-description">
                                <a title="El Cacho de Cabra" data-lightbox="image" href="{% static 'images/foto09.jpg' %}" class="btn btn-light btn-rounded">Zoom</a>
                            </div>
                        </div>
                    </div>
                    <!-- end: portfolio item -->


                </div>
                <!-- end: Portfolio -->
            </div>
        </div>
    </div>
</section>
<!-- end: GALLERY -->


{% endblock %}
