{% load static %}

<!-- Topbar -->
<div id="topbar" class="dark topbar-colored topbar-fullwidth">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="top-menu">
                    <li><a>DELIVERY A LUCA</a></li>
                    <li><a href="tel:(+56) 9 7216 5666"><i class="icon-phone"> </i> <i class="fab fa-whatsapp"></i> (+56) 9 7216 5666</a></li>
                    <li><a href="mailto:elcachodecabra@gmail.com">email: elcachodecabra@gmail.com</a></li>
                </ul>
            </div>
            <div class="col-md-6 d-none d-sm-block">
                <div class="social-icons social-icons-colored-hover">
                    <ul>
                        <li class="social-instagram"><a href="https://www.instagram.com/elcachodecabra/"><i class="fab fa-instagram"></i></a></li>
                        <li class="social-facebook"><a href="https://www.facebook.com/deliverypizzamaipu"><i class="fab fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: Topbar -->
