{% load static %}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta name="description" content="Themeforest Template Polo">
    <link rel="icon" type="image/png" href="images/favicon/favicon-16x16.png">

    <!-- favicon
    <a href="https://www.freepik.com/free-photos-vectors/food">Food vector created by bakar015 - www.freepik.com</a>
    -->

    <!-- Document title -->
    <title>Bar Restaunate | El Cacho de Cabra</title>

    <!-- Stylesheets & Fonts -->
    <link href="{% static 'css/plugins.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
</head>

<body>

    <!-- Body Inner -->
    <div class="body-inner">
      {% include 'partials/_topbar.html'%}
      {% include 'partials/_header.html'%}
      {% block content %}

      {% endblock %}
      {% include 'partials/_footer.html'%}
    </div>
   <!-- end: Body Inner -->

   <!-- Scroll top -->
   <a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a>

   <!--Plugins-->
   <script src="{% static 'js/jquery.js' %}"></script>
   <script src="{% static 'js/plugins.js' %}"></script>

   <!--Template functions-->
   <script src="{% static 'js/functions.js' %}"></script>

</body>
</html>
