{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
	  <meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>POLO | The Multi-Purpose HTML5 Template</title>

    <!-- Stylesheets & Fonts -->
    <link href="{% static 'css/plugins.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Layout Stylesheets & Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff" rel="stylesheet" type="text/css">
    <link href="{% static 'homepages/restaurant/css/restaurant-style.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/color-variations/brown-light.css' %}" rel="stylesheet" type="text/css" media="screen" title="brown-light">

</head>

<body>

    <!-- Body Inner -->
    <div class="body-inner">
      {% include 'partials/_header.html' %}
      {% block content %}

      {% endblock %}
      {% include 'partials/_footer.html'%}
    </div>
    <!-- end: Body Inner -->


    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>

    <!--Template functions-->
    <script src="{% static 'js/functions.js' %}"></script>

    <!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/slider-revolution/css/settings.css' %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/slider-revolution/css/layers.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/slider-revolution/css/navigation.css' %}">

    <script type="text/javascript" src="{% static 'plugins/slider-revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/slider-revolution/js/jquery.themepunch.revolution.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'plugins/slider-revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/slider-revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/slider-revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/slider-revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/slider-revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/slider-revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/slider-revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/slider-revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/slider-revolution/js/extensions/revolution.extension.video.min.js' %}"></script>

    <script type="text/javascript">
        var tpj = jQuery;

        var revapi22;
        tpj(document).ready(function () {
            if (tpj("#rev_slider_22_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_22_1");
            } else {
                revapi22 = tpj("#rev_slider_22_1").show().revolution({
                    sliderType: "standard",
                    jsFileLocation: "plugins/slider-revolution/js/",
                    sliderLayout: "fullscreen",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {
                        keyboardNavigation: "off",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation: "off",
                        onHoverStop: "off",
                        touch: {
                            touchenabled: "on",
                            swipe_threshold: 75,
                            swipe_min_touches: 1,
                            swipe_direction: "vertical",
                            drag_block_vertical: false
                        },
                        arrows: {
                            style: "zeus",
                            enable: true,
                            hide_onmobile: false,
                            hide_onleave: false,
                            tmp: '<div class="tp-title-wrap">  	<div class="tp-arr-imgholder"></div> </div>',
                            left: {
                                h_align: "left",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            },
                            right: {
                                h_align: "right",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            }
                        }
                    },
                    viewPort: {
                        enable: true,
                        outof: "wait",
                        visible_area: "80%"
                    },
                    responsiveLevels: [1240, 1024, 778, 480],
                    visibilityLevels: [1240, 1024, 778, 480],
                    gridwidth: [1240, 1024, 778, 480],
                    gridheight: [868, 768, 960, 720],
                    lazyType: "single",
                    shadow: 0,
                    spinner: "off",
                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off",
                    autoHeight: "off",
                    fullScreenAutoWidth: "off",
                    fullScreenAlignForce: "off",
                    fullScreenOffsetContainer: "",
                    fullScreenOffset: "",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false,
                    }
                });
            }
        }); /*ready*/
    </script>

</body>

</html>
